.header {
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 1px 10px 10px;
    border-bottom: 1px solid #ddd;
}

.logo {
    flex: 1;
}

.search {
    flex: 2;
    display: flex;
    padding: 10px;
    justify-content: right;
    align-items: center;
}

.search-bar {
    width: 80%;
    border: 1px solid #efefef;
    border-radius: 6px;
    font-size: 16px;
    padding:8px 10px 8px 40px; /* 이미지 위치 */
    background-size: 16px 16px;
    transition: all 0.3s ease; /*클릭시 스타일 변경 안됨*/
    background: #efefef url('../assets/icons/search.svg') no-repeat 10px center;
}

/* 검색창 클릭 시 검색이미지 제거*/
.search-bar:focus{
    outline: none; /* 포커스 테두리 제거 */
    padding-left: 10px;
    border: 1px solid #efefef;
    background: #efefef none;
    box-shadow: none;
}

.heart-button {
    background-color: white;
    border: 0.0625rem solid white;
}

.nav-bar {
    position: fixed; /* 화면 고정 */
    display: flex;
    width: 50px;
    border-right: 1px solid #ddd;
    flex-direction: column; /* 세로 방향 정렬 */
    justify-content: space-between;
    background-color: #fff;
    align-items: center;
    padding: 10px;
    height: 100vh; /* 화면 높이 전체 */
    transform: translateX(-100%); /* 기본적으로 화면 밖에 숨김 */
    transition: transform 0.3s ease; /* 부드러운 전환 */
}

.nav-bar ul {
    padding: 0;
    margin: 0;
}

.nav-start {
    margin-bottom: 10px; /
}

.nav-middle {
    flex: 1;
}

.nav-end {
    margin-top: 10px;
}


.nav-bar li {
    list-style: none; /*점 제거*/
    margin: 25px 0;
}

.nav-bar img {
    width: 24px;
    height: 24px;
    margin: 0;
}

/*화면이 768px 이상일 때 헤더 숨기고 네비게이션 바 표시*/
@media (min-width: 768px) {
    .header {
        display: none; /* 헤더 숨김 */
    }

    .nav-bar {
        transform: translateX(0); /* 네비게이션 바 표시 */
    }
}


@media (max-width: 767px) {
    .header {
        display: flex; /* 헤더 표시 */
    }

    .nav-bar {
        transform: translateX(-100%); /* 네비게이션 바 숨김 */
    }
}